@media only screen and (min-width: 799px ) and (max-width: 1278px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Century Gothic";
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    .small {
        visibility: hidden;
    }
    .wide {
        visibility: visible;
    }
    .pr-label {
        display: none;
    }
    .pr-toggle {
        display: none;
        }
    .pr-card_mood_container-small, .pr-card_img_container-small {
            display: none;
        }
    


    /* ----------------------- projects ----------------------- */
    
    .projects_title_container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .projects_subtitle {
        color: #FA7C46;
        text-transform:uppercase;
        font-size: 12px;
        letter-spacing: 1px;
    }
    .projects_title {
        font-weight: 600;
        text-transform:uppercase;
        font-size: calc(16px + 1vw);
        padding-top: 4px;
        padding-bottom: 12px;
    }
    .projects_title a{
        color: #1C5D8F;
        text-decoration: none;
        letter-spacing: 1px;
    }
    .projects_title:hover {
        transform: scale(1.01);
    }
    .projects_container {
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items:center ;
        height: fit-content;
        margin-bottom: 2vh;
    }
    .project-card {
        margin: 7px;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 246px;
    
        background-color: #fff;
        border-radius: 34px;
        box-shadow: rgba(0, 0, 0, 0.22) 0px 3px 14px;
    }
    .project-card_image {
        width: 100%;
    }
    .project-card_image img {
        border-radius: 34px 34px 0 0;
        height: 129px;
    }
    .project-card_text_container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.4;
        font-size: 14px;
        color: #555;
    
    }
    .project-card_text {
        padding-bottom: 10px;
    }
    
    .project-card_btn {
        padding: 6px 14px;
        border: 2px #1C5D8F solid;
        border-radius: 40px;
        transition: box-shadow 0.32s;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .project-card_btn:hover {
        box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 8px;
    }
    .project-card_btn a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        letter-spacing: 1px;
        color: #225882;
        font-weight: 600;
    }
    
    /* ----------------------- about us ----------------------- */
    
    .about-us {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
    }
    .about-us_container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .about-us_image {
        width: 310px;

    }
    .about-us_image img{
        max-width: 100%;     /* Ensure the image doesn't exceed its container's width */
        height: auto; 
        align-self: center;

    }
    .about-us_text_container {
    margin-left: calc(50px - 2vw);
    width: 40%;
    max-width: 564px;
    }
    .about-us_title {
        font-weight: 600;
        font-size: calc(32px - 1vw);
        padding-bottom: 12px;
        color: #1C5D8F;
    }
    .about-us_text {
        color: #555;
        line-height: 1.35;
        font-size: calc(14px + 0.1vw);
    }
    
    
    /* ----------------------- departments ----------------------- */
    
    .departments {
        padding: 50px 0;
        background-color: #F3F7FF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .departments_container {
        width: 68%;
        display: flex;
        justify-content: center;
        align-items:center ;
        height: fit-content;
        flex-wrap: wrap;
    }
 
    .department-card {
        margin: 8px 10px;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 18%;
        max-width: 300px;
        min-width: 254px;
        background-color: #fff;
        border-radius: 34px;
        box-shadow: rgba(0, 0, 0, 0.22) 0px 3px 14px;
        transition: transform 0.4s;
    }
    .department-card:hover {
        transform: scale(1.06);
    }
    .department-card_container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.3;
        font-size: 15px;
        color: #555;
    }
    .department-card a {
        text-decoration: none;
    }
    .department-card_icon {
        margin: 5px 0;
    }
    .department-card_icon img {
        max-width: 58px;
    }
    .department-card_text_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .department-card_title {
        color: #225882;
        padding: 8px 0;
        font-size: 20px;
        text-align: center;
    }
    .department-card_text {
        text-align: center;
        font-size: 14px;
        color: #555;
        line-height: 1.3;
    }
    
    /* --------------------------  form  -------------------------- */
    
    .form_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 60px 0;
    }
    .form_text_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }
    .form_title {
        width: 400px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: #333;
        line-height: 1.3;
    }
    .form_btn {
        margin: 24px 0;
        
        width: fit-content;
        padding: 12px 24px;
        background-color: #1C5D8F;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: transform 0.35s;
        text-align: center;
    }
    .form_btn:hover {
        transform: scale(1.04);
    }
    .form_btn a {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
    }
    .form_image img{
        height: 200px;
    }
    .form_image {
        margin: 0 20px;
    }
    
    /* ----------------------- footer ----------------------- */
    
    footer {
        width: 100%;
        background-color: #1C5D8F;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_container {
        width: 96%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .social_container{
        display: flex;
    }
    .social_item {
        padding: 0 4px;
    }
    .social_item a img {
        height: 48px;
        transition: transform 0.3s;
    }
    .social_item a img:hover, .app_web a img:hover {
        transform: scale(1.05);
    }
    .uad-info_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
    }
    
    .uad-info_logo a img {
        height: 52px;
        transition: transform 0.3s;
    }
    .uad-info_logo a img:hover {
        transform: scale(1.03);
    }
    .uad-info_link {
        margin-top: 2px;
    }
    .uad-info_link a{
        color: #fff;
        text-decoration: underline;
        font-size: 15px;
    }
    .uad-info_link a:hover {
        text-decoration: underline;
    }
    .app_container {
        display: flex;
    }
    .app_web a img {
        height: 48px;
        transition: transform 0.3s;
        
    }
    .app_gplay a img {
        height: 48px;
        transition: transform 0.3s;
    }
    .app_web, .app_gplay {
        padding: 0 6px;
    }
    .footer-end_container {
        display: flex;
        height: 6vh;
        font-size: 13px;
        letter-spacing: 1px;
        justify-content: center;
        align-items:center;
        color: #fff;
        background-color: #313131;
    }
    

    
        /* -----------
        ------------ 
        projects.html
        ------------
        ----------- */
    
    
    
    
    
    
    
    
    
    
    .nav-pr {
        color: #225882 !important;
    }
    
    .pr-banner {
        background-image: url("../images/projects-banner.png");
        background-size:100%;  
        background-position: center; 
        position: relative;
        background-repeat: no-repeat;
    
    }
    
    .pr-banner_container {
        align-items: center;
        display: flex;

        justify-content: center;
        flex-direction: column;
        text-transform:uppercase;
        padding: 120px 0;
    }
    
    .pr-banner_title {
        font-size: 72px;
        font-weight: 700;
        color: #225882;
        letter-spacing: 1px;
    }
    .pr-banner_subtitle {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #225882;
    }
    .pr-banner_text {
        line-height: 140%;
        width: 60%;
        text-align: center;
        text-transform: none;
        color: #333;
        margin: 36px 0;
    }
    .pr-banner_text a {
        font-size: 17px;
    }
    .pr-banner_btn_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner_btn_link a {
        
        font-size: 13px;
        text-decoration: underline;
        color:#666;
        text-transform: none;
    }
    .banner_btn_link {
        padding: 7px 0;
    }
    
    .pr-banner_btn_text {
        padding: 16px 38px;
        text-transform:none;
        background-color: #1C5D8F;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: transform 0.25s;
    }
    .pr-banner_btn_text a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }
    .pr-banner_btn_text:hover {
        transform: scale(1.03);
    }
    
    /* #projects {
        height: 100vh;
    } */

    .even .pr-card {
        margin: 40px 0;
    }
    .odd {
        background-color: #F3F7FF;
        
    }
    .pr-projects_container {
        padding: 14px 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center ;
        flex-direction: column;
    }
 
    .pr-projects_title {
        font-weight: 600;
        text-transform:uppercase;
        font-size: 28px;
        margin-top: 20px;
 
    }
    .pr-projects_title a{
        color: #1C5D8F;
        text-decoration: none;
        letter-spacing: 1px;
    }
    .pr-projects_title:hover {
        transform: scale(1.01);
    }
    .pr-card_section {
        display: flex;
        justify-content: center;
      }
      .pr-card {
        margin: 60px 0;
        background-color: #fff;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.12);
        border-radius: 40px;
      }
      .pr-card_container {
       padding: 50px;
       display: flex;
       width: 100%;
      }
      .pr-card_text_container {
        width: 60%;
        padding-right: 1%;
      }
    
      .modal-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Переконайтеся, що затемнення має високий z-index, щоб бути поверх інших елементів */
      }
      
      .modal-overlay.enlarged {
        display: flex;
      }
      
      .modal-content img {
        height: 90vh;
        width: auto; /* Встановлюємо ширину автоматично, щоб зберегти пропорції зображення */
        max-width: 100%; /* Забезпечуємо, щоб зображення не вийшло за межі ширини екрану */
      }
      
      .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.7);
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
    
        transition: opacity 0.5s ease 0s;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
    }
    
    .popup:target {
        opacity: 1;
        visibility: visible;
    }
    
    .popup:target .popup__content {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    .popup__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px 0 10px;
        flex-wrap: wrap;
            position: relative;
    
        }
        
        .popup__body::after {
        display: none;
        }
        
        
    
    .popup__content {
    
        color: #d9d9d9;
        height: 90vh;
        border-radius: 10px;
        position: relative;
        display: flex;
        opacity:0;
        transform: translate(0px,-100%);
        transition: all 0.5s ease 0s;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        overflow: scroll;
        scroll-behavior: visible;
    }
    
    .popup__close {
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 20px;
        width: 100%;
        opacity: 0.8;
        display: flex;
        justify-content: end;
    }
    .popup__close img {
        width: 22px;
    }
    .popup__close:hover {
        opacity: 1;
    }
    
    /*                                 Плитка                                    */
    
    /* .covers-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;    
    } */
    /* .popup__content {
        background-color: #262627;
        color: #d9d9d9;
        padding: 20px 60px;
        width: 75vw;
        height: 90vh;
        border-radius: 5px;
        position: relative;
        box-shadow: 0px 5px 10px -5px rgba(100, 100, 100, 0.6);
        opacity:0;
        transform: translate(0px,-100%);
        transition: all 0.5s ease 0s;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        overflow: scroll;
        scroll-behavior: auto;
    } */
    /* .cover-items {
        width: 250px;
        padding: 15px;
        border-radius: 18px;
    } */
    
    
    .popup__content {
        color: #d9d9d9;
        height: 95vh;
        border-radius: 10px;
        position: relative;
    
        box-shadow: 0px 5px 10px -5px rgba(100, 100, 100, 0.6);
        opacity:0;
        transform: translate(0px,-100%);
        transition: all 0.5s ease 0s;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        overflow: scroll;
        scroll-behavior: visible;
    }

    
    .covers-list {
        display: flex;
        justify-content: flex-start;

    }
    
    @media only screen and (min-width: 799px ) and (max-width: 946px) {
    .banner {
        background-image: url("../images/home_banner.svg");
        background-size: 48% auto;  /* Set width to 1000px and height to auto */
        background-position: right top;  /* Align to the right center */
        height: 90vh;
        position: relative;
        background-repeat: no-repeat;
    }
    
    /* ----------------------- navbar ----------------------- */
    
    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 74px;
        font-family: "Century Gothic";
        overflow: hidden;
    }
    .nav_container {
        display: flex;
        justify-content: space-between;
        width: 96%;
    }
    .nav_logo {
        display: flex;
        justify-content: left;
        width: 15%;
    }
    .nav_logo img {
        width: 84%;
    }
    
    .nav_items {
        display: flex;
        width: 44%;
        justify-content: space-evenly;
        align-items: center;
    }
    .active {
        border-width: 1px solid;
        border-radius: 30px;
        box-sizing: border-box;
    }
    
    .nav_item a{
        text-decoration: none;
        padding: 4px 11px;
        font-size: calc(13px + 0.15vw);
        color: #fff;
        transition: border 0.4s ease;
        border-radius: 30px;
        border: 1px solid transparent;
    }
    
    
    
    .nav_item a.active {
        border: 1px solid;
    }
    
    .nav_item a.non-active:hover {
        border: 1px solid;  
    }
    
    
    
    /* ----------------------- banner ----------------------- */
    
    .banner_container {
        display: flex;
        height: 90vh;
        justify-content: center;
        flex-direction: column;
        text-transform:uppercase;
        width: 60%;
    }
    
    .banner_title {
        display: flex;
    
        justify-content: center;
        font-size: calc(24px + 1vw);
        font-weight: 600;
        letter-spacing: 3px;
        color: #1C5D8F;
    }
    .banner_subtitle {
        padding: 8px 0;
        display: flex;
        justify-content: center;
        font-size: 15px;
        letter-spacing: 2px;
        color: #9999;
    }
    .banner_btn_container {
        display: flex;
        margin-top: 100px;
        margin-left: calc(12% + 2vw);
        align-items: center;
    
    }
    .banner_btn_text {
        padding: 14px 26px;
        background-color: #1C5D8F;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: transform 0.25s;
    }
    .banner_btn_text a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        letter-spacing: 2px;
    }
    .banner_btn_icon {
        margin-left: 36px;
        padding: 13px 13px 11px 16px;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .banner_btn_icon, .banner_btn_text {
        transition: transform 0.3s;
    }
    .banner_btn_icon:hover{
        transform: scale(1.08);
    }
    .banner_btn_text:hover {
        transform: scale(1.04);
    }
    .banner_btn_icon img{
        height: 26px;
        padding-left: 4px;
    }
    .pr-banner_container {
        padding: 90px 0 !important;
    }
    .pr-card {
        margin: 50px 0;
        width: 90%;
        background-color: #fff;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.12);
        border-radius: 40px;
      }
      .pr-card_container {
       padding: 50px;
       display: flex;
       width: 100%;
      }
      .pr-card_text_container {
        width: 60%;
        padding-right: 2%;
      }
    .hashtag {
        margin-top: 10px;
      }
      .hashtag a {
        background-color: #1C5D8F;
        color: #fff;
        border-radius: 50px;
        padding: 9px 24px;
        font-size: 18px;
        font-weight: 500;
      }
      .pr-title {
        margin: 28px 0 18px 0;
        font-size: 30px;
        font-weight: 600;
        line-height: 115%;
        color: #225882;
      }
    
      .pr-text {
        font-size: 1em;
        line-height: 145%;
        letter-spacing: 0.2px;
        width: 95%;
      }
      .pr-card_img_container {
        cursor: pointer;
      }
      .pr-card_img_container img {
        width: 100%;
        max-width: 330px;
      }
      .pr-card_mood_container {
        cursor: pointer;
      }
      .pr-card_mood_container img {
        width: 100%;
        max-width: 330px;
      }
      .cover-items {
        width: 40vw;
        padding: 12px;
        cursor: pointer;
        border-radius: 18px;
        height: 80vh;
        padding: 8px;
        cursor: pointer;
        border-radius: 18px;
    }
    }

    }


    @media only screen and (min-width: 946px ) and (max-width: 1040px) {
        .banner {
            background-image: url("../images/home_banner.svg");
            background-size: 48% auto;  /* Set width to 1000px and height to auto */
            background-position: right top;  /* Align to the right center */
            height: 92vh;
            position: relative;
            background-repeat: no-repeat;
        }
        #banner_hero{
            background-image: url("../images/contacts-hero-bg.png");
            background-size: auto 100%;
            background-position: center;
        }
        
        /* ----------------------- navbar ----------------------- */
        
        nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 74px;
            font-family: "Century Gothic";
            overflow: hidden;
        }
        .nav_container {
            display: flex;
            justify-content: space-between;
            width: 96%;
        }
        .nav_logo {
            display: flex;
            justify-content: left;
            width: 13%;
        }
        .nav_logo img {
            width: 84%;
        }
        
        .nav_items {
            display: flex;
            width: 46%;
            justify-content: flex-end;
            align-items: center;
        }
        .active {
            border-width: 1px solid;
            border-radius: 30px;
            box-sizing: border-box;
        }
        
        .nav_item a{
            text-decoration: none;
            padding: 5px 15px;
            font-size: 16px;
            letter-spacing: 0.5px;
            color: #fff;
            transition: border 0.4s ease;
            border-radius: 30px;
            border: 1px solid transparent;
        }
        
        
        
        .nav_item a.active {
            border: 1px solid;
        }
        
        .nav_item a.non-active:hover {
            border: 1px solid;  
        }
        
        
        
        /* ----------------------- banner ----------------------- */
        
        .banner_container {
            display: flex;
            height: 92vh;
            justify-content: center;
            flex-direction: column;
            text-transform:uppercase;
            width: 55%;
        }
        
        .banner_title {
            display: flex;
        
            justify-content: center;
            font-size: 36px;
            font-weight: 600;
            letter-spacing: 3px;
            color: #1C5D8F;
        }
        .banner_subtitle {
            padding: 8px 0;
            display: flex;
            justify-content: center;
            font-size: 16px;
            letter-spacing: 3px;
            color: #9999;
        }
        .banner_btn_container {
            display: flex;
            margin-top: 100px;
            margin-left: calc(12% + 2vw);
            align-items: center;
        
        }
        .banner_btn_text {
            padding: 14px 26px;
            background-color: #1C5D8F;
            border-radius: 40px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.25s;
        }
        .banner_btn_text a {
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            letter-spacing: 2px;
        }
        .banner_btn_icon {
            margin-left: 36px;
            padding: 13px 13px 11px 16px;
            border-radius: 30px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .banner_btn_icon, .banner_btn_text {
            transition: transform 0.3s;
        }
        .banner_btn_icon:hover{
            transform: scale(1.08);
        }
        .banner_btn_text:hover {
            transform: scale(1.04);
        }
        .banner_btn_icon img{
            height: 26px;
            padding-left: 4px;
        }
        .pr-card {
            margin: 60px 0;
            width: 78%;
            background-color: #fff;
            box-shadow: 0px 2px 10px rgba(0,0,0,0.12);
            border-radius: 40px;
          }
          .pr-card_container {
           padding: 50px;
           display: flex;
           width: 100%;
          }
          .pr-card_text_container {
            width: 60%;
            padding-right: 1%;
          }
        .hashtag {
            margin-top: 10px;
          }
          .hashtag a {
            background-color: #1C5D8F;
            color: #fff;
            border-radius: 50px;
            padding: 9px 24px;
            font-size: 18px;
            font-weight: 500;
          }
          .pr-title {
            margin: 28px 0 18px 0;
            font-size: 32px;
            font-weight: 600;
            line-height: 115%;
            color: #225882;
          }
        
          .pr-text {
            font-size: 1.02em;
            line-height: 145%;
            letter-spacing: 0.2px;
            width: 95%;
          }
          .pr-card_img_container {
            cursor: pointer;
          }
          .pr-card_img_container img {
            width: 100%;
            max-width: 330px;
          }
          .pr-card_mood_container {
            cursor: pointer;
          }
          .pr-card_mood_container img {
            width: 100%;
            max-width: 330px;
          }
          .cover-items {
            width: 35vw;
            padding: 10px;
            cursor: pointer;
            border-radius: 18px;
        }
    }

    @media only screen and (min-width: 1041px ) and (max-width: 1278px) {
        .banner {
            background-image: url("../images/home_banner.svg");
            background-size: 46% auto;  /* Set width to 1000px and height to auto */
            background-position: right top;  /* Align to the right center */
            height: 92vh;
            position: relative;
            background-repeat: no-repeat;
        }
        #banner_hero{
            background-image: url("../images/contacts-hero-bg.png");
            background-size: auto 100%;
            background-position: center;
        }
        
        /* ----------------------- navbar ----------------------- */
        
        nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 84px;
            font-family: "Century Gothic";
            overflow: hidden;
        }
        .nav_container {
            display: flex;
            justify-content: space-between;
            width: 96%;
        }
        .nav_logo {
            display: flex;
            justify-content: left;
            width: 13%;
        }
        .nav_logo img {
            width: 90%;
        }
        
        .nav_items {
            display: flex;
            width: 46%;
            justify-content: flex-end;
            align-items: center;
        }
        .active {
            border-width: 1px solid;
            border-radius: 30px;
            box-sizing: border-box;
        }
        
        .nav_item a{
            text-decoration: none;
            padding: calc(3px + 0.3vw) calc(11px + 0.8vw);
            font-size: calc(13px + 0.2vw);
            letter-spacing: 0.5px;
            color: #fff;
            transition: border 0.4s ease;
            border-radius: 30px;
            border: 1px solid transparent;
        }
        
        
        
        .nav_item a.active {
            border: 1px solid;
        }
        
        .nav_item a.non-active:hover {
            border: 1px solid;  
        }
        
        
        
        /* ----------------------- banner ----------------------- */
        
        .banner_container {
            display: flex;
            height: 92vh;
            justify-content: center;
            flex-direction: column;
            text-transform:uppercase;
            width: 55%;
        }
        
        .banner_title {
            display: flex;
        
            justify-content: center;
            font-size: 46px;
            font-weight: 600;
            letter-spacing: 3px;
            color: #1C5D8F;
        }
        .banner_subtitle {
            padding: 8px 0;
            display: flex;
            justify-content: center;
            font-size: 18px;
            letter-spacing: 4px;
            color: #9999;
        }
        .banner_btn_container {
            display: flex;
            margin-top: 100px;
            margin-left: calc(12% + 4vw);
            align-items: center;
        
        }
        .banner_btn_text {
            padding: 14px 26px;
            background-color: #1C5D8F;
            border-radius: 40px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.25s;
        }
        .banner_btn_text a {
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            letter-spacing: 2px;
        }
        .banner_btn_icon {
            margin-left: 36px;
            padding: 13px 13px 11px 16px;
            border-radius: 30px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .banner_btn_icon, .banner_btn_text {
            transition: transform 0.3s;
        }
        .banner_btn_icon:hover{
            transform: scale(1.08);
        }
        .banner_btn_text:hover {
            transform: scale(1.04);
        }
        .banner_btn_icon img{
            height: 26px;
            padding-left: 4px;
        }

        .pr-card {
            width: 75%;
        }
        .hashtag {
            margin-top: 10px;
          }
          .hashtag a {
            background-color: #1C5D8F;
            color: #fff;
            border-radius: 50px;
            padding: 10px 28px;
            font-size: 20px;
            font-weight: 500;
          }
          .pr-title {
            margin: 28px 0 18px 0;
            font-size: 33px;
            font-weight: 600;
            line-height: 115%;
            color: #225882;
          }
        
          .pr-text {
            font-size: 1.02em;
            line-height: 147%;
            letter-spacing: 0.1px;
            width: 95%;
          }
          .pr-card_img_container {
            cursor: pointer;
          }
          .pr-card_img_container img {
            width: 100%;
            max-width: 330px;
          }
          .pr-card_mood_container {
            cursor: pointer;
          }
          .pr-card_mood_container img {
            width: 100%;
            max-width: 330px;
          }
          .cover-items {
            width: 35vw;
            padding: 12px;
            cursor: pointer;
            border-radius: 18px;
        }
    }





/*                    Contacts                       */
    @media screen and (max-width: 1000px) {
        .lead-card_container{
            width: 600px;
            height: 243px;
        }
        .lead-card_image {
            width: 212px;
            height: 200px;
        }
        .lead-card_name{
            font-size: 30px;
        }
        .lead-card_position{
            font-size: 14px;
            margin-bottom: 15px
        }
        .lead-card_description {
            width: 400px;
        }
        .lead-card_text{
            width: 80%;
            font-size: 14px;
            margin-bottom: 25px;
        }
        .lead-card_email-button{
            width: 150px;
            height: 30px;
            font-size: 14px;
        }
        .lead-card_email-button:hover{
            cursor: pointer;
            scale: 102%;
        }
        .lead-card_email-button_icon{
            width: 15px;
            height: 10px;
            margin-right: 5px;
        }
        .lead-card_tel-button{
            width: 30px;
            height: 30px;
        }
        .lead-card_tel-button_icon{
            width: 15px;
            height: 15px;
        }
        .head_card_image{
            width: 250px;
            height: 291px;
        }
        .head_card_desription {
            font-size: 12px;
        }
    }












































    